<mat-dialog-content>
  <h3>To pay: ${{price}}</h3>
  <div class="row">
    <div class="col-md-6 text-center tile">
      <img src="../../../../assets/images/credit-card.png" alt="credit-card">
      <h4><b>Credit card</b></h4>
      <button [disabled]="services.indexOf('CARD') === -1" color="primary" (click)="creditCard()" mat-raised-button>Choose payment type</button>
    </div>
    <div class="col-md-6 text-center tile">
      <img src="../../../../assets/images/qr-code.png" alt="qr-code">
      <h4><b>QR Code</b></h4>
      <button [disabled]="services.indexOf('QR') === -1" color="primary" (click)="qrCode()" mat-raised-button>Choose payment type</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center tile">
      <img src="../../../../assets/images/bitcoin.png" alt="bitcoin">
      <h4><b>Bitcoin</b></h4>
      <button [disabled]="services.indexOf('CRYPTO') === -1" color="primary" (click)="crypto()" mat-raised-button>Choose payment type</button>
    </div>
    <div class="col-md-6 text-center tile">
      <img src="../../../../assets/images/paypal.png" alt="paypal">
      <h4><b>PayPal</b></h4>
      <button [disabled]="services.indexOf('PAYPAL') === -1" color="primary" (click)="paypal()" mat-raised-button>Choose payment type</button>
    </div>
  </div>
</mat-dialog-content>
