<mat-card style="margin: auto; margin-top: 50px">
  <form [formGroup]="formGroup" style="margin: 30px">
    <h3>Credit card payment</h3>
    <p style="margin-top: 20px">
      <mat-form-field class="example-full-width" style="width: 70%; margin-right: 10px" appearance="outline">
        <mat-label>Name on card</mat-label>
        <input matInput formControlName="nameFormControl" [(ngModel)]="name"
               placeholder="Ex. Peter">
        <mat-error *ngIf="formGroup.hasError('required', 'nameFormControl')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 25%" appearance="outline">
        <mat-label>Expiracy</mat-label>
        <input matInput formControlName="expirationDateFormControl" [(ngModel)]="expirationDate"
               placeholder="Ex. 01/25">
        <mat-error *ngIf="formGroup.hasError('required', 'expirationDateFormControl')">
          Expiration date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>
    <p style="margin-top: 10px">
      <mat-form-field class="example-full-width" style="width: 70%; margin-right: 10px" appearance="outline">
        <mat-label>Credit card number</mat-label>
        <input matInput formControlName="cardNumberFormControl" [(ngModel)]="cardNumber"
               placeholder="Ex. 0000 1111 2222 3333">
        <mat-error *ngIf="formGroup.hasError('required', 'cardNumberFormControl')">
          Card number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 25%" appearance="outline">
        <mat-label>CVV</mat-label>
        <input matInput formControlName="cvvFormControl" [(ngModel)]="cvv"
               placeholder="Ex. 01/25">
        <mat-error *ngIf="formGroup.hasError('required', 'cvvFormControl')">
          CVV is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <button mat-raised-button type="submit" id="loginBtn" [disabled]="formGroup.invalid"
            color="primary"
            (click)="pay()"
            style="width: 100%; margin-top: 20px;">Pay now
    </button>
  </form>
</mat-card>
